@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";



@theme {
    /* COLORS */
    /* BRAND */
    --color-brand: rgb(1, 146, 245);
    --color-brand-dark: #0170C2;
    --color-brand-light: #E8F4FE;
    --color-brand-50: rgba(1, 146, 245, 0.05);
    --color-brand-10: rgba(1, 146, 245, 0.1);
    --color-brand-20: rgba(1, 146, 245, 0.2);
    --color-border: rgb(229, 231, 235);
    --color-muted: rgb(107, 114, 128);
    --color-subtle: rgb(156, 163, 175);
    --color-dark: rgb(17, 24, 39);
    --color-card-bg: #F9FAFB;

    /* TEXT */
    --color-text-primary: #000;
    --color-text-secondary: #fff;


    /* FONTS */
    --font-brand: "Bricolage Grotesque", sans-serif;
    --font-heading: "Space Grotesk", sans-serif;

    /* SHADOW */
    --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.08);

    /* RADIUS */
    --radius-main: 20px;
}

/* animation */

@keyframes play-ud {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }
}

@theme {
    --animate-play-ud: play-ud 0.4s ease-in-out;
    --animate-float: float 5s ease-in-out infinite;
}